{:up
 [{:create-table :comments
   :columns [[:id "VARCHAR(10)" "PRIMARY KEY"]
             [:comment_text "TEXT" "NOT NULL"]
             [:link_id "VARCHAR(10)" "NOT NULL"]
             [:comment_ts "TIMESTAMP" "NOT NULL"]
             [:deleted "BOOLEAN" "DEFAULT false"]]}]
 :down
 [{:drop-table :comments}]}
